body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: url("background3.jpg");
    margin: 0;
	
}

.chat-container {
    width: 400px;
    border: 4px solid black;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
	}




.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid blue;
    height: 400px; /* Adjust as needed */
}

.chat-box .message {
    margin: 10px 0;
	border-bottom: 3px solid yellow;
    
}

.chat-box .message.user {
    text-align: right;
	border-bottom: 3px solid pink;
    color:red;
   background-color:yellow;
   font-weight:bold;
}


.chat-box .message.bot {
    text-align: left;
	background-color:PINK;
font-weight:bold;
}

input[type="text"] {
    border: none;
    padding: 10px;
    flex: 1;
}

button {
    border: none;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
